[submodule "03_deploy_basics/infrastructure/external/flannel"]
	path = 03_deploy_basics/infrastructure/external/flannel
	url = https://github.com/flannel-io/flannel.git
[submodule "03_deploy_basics/infrastructure/external/metallb"]
	path = 03_deploy_basics/infrastructure/external/metallb
	url = https://github.com/metallb/metallb.git
[submodule "03_deploy_basics/infrastructure/static/external/community-templates"]
	path = 03_deploy_basics/infrastructure/static/external/community-templates
	url = https://github.com/influxdata/community-templates.git
[submodule "03_deploy_basics/infrastructure/static/external/kubegres"]
	path = 03_deploy_basics/infrastructure/static/external/kubegres
	url = https://github.com/reactive-tech/kubegres.git
[submodule "03_deploy_basics/infrastructure/static/external/cloudnative-pg"]
	path = 03_deploy_basics/infrastructure/static/external/cloudnative-pg
	url = https://github.com/cloudnative-pg/cloudnative-pg.git
